---
name: Release

on:
  push:
    tags:
      - "*"

jobs:
  preflight:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get_version.outputs.version }}
    steps:
      - id: get_version
        run: |
          version=$(echo "${{ github.ref }}" | cut -d "/" -f 3)
          echo "version=${version}" >> "$GITHUB_OUTPUT"
  build:
    uses: ./.github/workflows/build.yml
    needs: preflight
    with:
      version: ${{ needs.preflight.outputs.version }}
  release:
    runs-on: ubuntu-latest
    needs:
      - preflight
      - build
    steps:
      - uses: actions/download-artifact@v3
        id: download
        with:
          name: dist
          path: ${{ github.workspace }}/dist/
      - id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: true
          prerelease: ${{ endsWith(needs.preflight.outputs.version, 'pre') && true || false }}
      - uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ${{ github.workspace }}/dist/FrontierDigital.Ranger-${{ needs.preflight.outputs.version }}.vsix
          asset_name: FrontierDigital.Ranger-${{ needs.preflight.outputs.version }}.vsix
          asset_content_type: application/gzip
